xdebug.mode = {{ .Env.PHP_XDEBUG_MODE }}
xdebug.start_with_request = {{ .Env.PHP_XDEBUG_START_WITH_REQUEST }}
xdebug.client_port = {{ .Env.PHP_XDEBUG_CLIENT_PORT }}
xdebug.client_host = {{ .Env.PHP_XDEBUG_CLIENT_HOST }}
