opcache.enable = {{ .Env.PHP_OPCACHE_ENABLE }}
opcache.revalidate_freq = {{ .Env.PHP_OPCACHE_REVALIDATE_FREQ }}
opcache.fast_shutdown = {{ .Env.PHP_OPCACHE_FAST_SHUTDOWN }}

; https://symfony.com/doc/current/performance.html
opcache.interned_strings_buffer = {{ .Env.PHP_OPCACHE_INTERNED_STRINGS_BUFFER }}
opcache.max_accelerated_files = {{ .Env.PHP_OPCACHE_MAX_ACCELERATED_FILES }}
opcache.memory_consumption = {{ .Env.PHP_OPCACHE_MEMORY_CONSUMPTION }}
opcache.enable_file_override = {{ .Env.PHP_OPCACHE_ENABLE_FILE_OVERRIDE }}

; https://symfony.com/doc/current/performance.html#use-the-opcache-class-preloading
opcache.preload_user = {{ .Env.PHP_OPCACHE_PRELOAD_USER }}
opcache.preload = {{ .Env.PHP_OPCACHE_PRELOAD }}

; https://symfony.com/doc/current/performance.html#don-t-check-php-files-timestamps
opcache.validate_timestamps = {{ .Env.PHP_OPCACHE_VALIDATE_TIMESTAMPS }}
