opcache.enable = {{ .Env.PHP_OPCACHE_ENABLE }}
opcache.memory_consumption = {{ .Env.PHP_OPCACHE_MEMORY_CONSUMPTION }}
opcache.validate_timestamps = {{ .Env.PHP_OPCACHE_VALIDATE_TIMESTAMPS }}
opcache.interned_strings_buffer = {{ .Env.PHP_OPCACHE_INTERNED_STRINGS_BUFFER }}
opcache.max_accelerated_files = {{ .Env.PHP_OPCACHE_MAX_ACCELERATED_FILES }}
opcache.revalidate_freq = {{ .Env.PHP_OPCACHE_REVALIDATE_FREQ }}
opcache.fast_shutdown = {{ .Env.PHP_OPCACHE_FAST_SHUTDOWN }}
